<div class="structure_beta">
  <h2 class="structure_beta_name text-center">Structure Beta</h2>

  <div class="my-3">
    {% include components/customDivider.html dividerStyle='insideComponent' %}
  </div>

  <div class="row">
    <div class="col-6">
      <div
        class="d-flex flex-column justify-content-center text-center"
        style="height: 100%"
      >
        <h4 class="text-center">Typography</h4>
      </div>
    </div>

    <div class="col-6">
      <div class="typographies">
        <div class="typographies_list">
          <div class="d-flex">
            <h1 class="alignment">Heading 1</h1>
            <p class="alignment">Font size:</p>
          </div>
        </div>

        <div class="typographies_list">
          <div class="d-flex">
            <h2 class="alignment">Heading 2</h2>
            <p class="alignment">Font size:</p>
          </div>
        </div>

        <div class="typographies_list">
          <div class="d-flex">
            <h3 class="alignment">Heading 3</h3>
            <p class="alignment">Font size:</p>
          </div>
        </div>

        <div class="typographies_list">
          <div class="d-flex">
            <h4 class="alignment">Heading 4</h4>
            <p class="alignment">Font size:</p>
          </div>
        </div>

        <div class="typographies_list">
          <div class="d-flex">
            <h5 class="alignment">Heading 5</h5>
            <p class="alignment">Font size:</p>
          </div>
        </div>

        <div class="typographies_list">
          <div class="d-flex">
            <h6 class="alignment">Heading 6</h6>
            <p class="alignment">Font size:</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
