<div class="structure_alpha">
  <h2 class="structure_alpha_name text-center">{{include.structureName}}</h2>
  <h4 class="text-center">Colors</h4>

  <div class="my-3">
    {% include components/customDivider.html dividerStyle='insideComponent' %}
  </div>

  <div class="row">
    <div class="col-6">
      <div class="d-flex">
        <div style="width: 30%; background-color: #433f40"></div>

        <div style="width: 70%; padding-left: 1rem">
          <p style="font-size: 1.15rem; font-weight: 600">Primary</p>
          <p>#433F40</p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="d-flex">
        <div
          style="width: 30%; background-color: #788991; border: 1px solid white"
        ></div>

        <div style="width: 70%; padding-left: 1rem">
          <p style="font-size: 1.15rem; font-weight: 600">Secondary</p>
          <p>#433F40</p>
        </div>
      </div>
    </div>
  </div>
</div>
